@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

$default-font: 'Poppins', sans-serif;

// ------ HTML / BODY ------ //

body {
    font-family: $default-font;
}


// ------ Content ------ //

#cnr-content {
    max-width: 700px;
    text-align: center;
    margin: 50px auto 0;
    font: 20px/1.5 $default-font;

    h1 {
        font-weight: 700;
        text-transform: uppercase;
    }
}